:root {
    --main-bg-color: #FFFFFF;
    --main-primary-color: #0B6623;
    --main-error-color: #DC143C;
}

@font-face {
    font-family: 'Collegia';
    src: local('Collegia'), url(./fonts/COLLEGIA.ttf) format('truetype');
}

* {
    font-family: 'Collegia' !important;
}

body {
    margin: 0%;
    background-color: var(--main-bg-color);
}

.MainContainer {
    width: 100%;
    background-color: var(--main-bg-color);
    text-align: center;
}

.VersionContainer {
    text-align: left;
    color: var(--main-primary-color);
}

.TitleVersion {
    font-family: 'Collegia';
    font-size: 0.9vw;
}

.TitleVersionMobile {
    font-family: 'Collegia';
    font-size: 2.5vw;
}

.Title {
    cursor: pointer;
    font-family: 'Collegia';
    font-size: 3vw;
    color: var(--main-primary-color);
}

.TitleMobile {
    cursor: pointer;
    font-family: 'Collegia';
    font-size: 6vw;
    color: var(--main-primary-color);
}

.TextForm {
    font-family: 'Collegia';
    font-size: 1vw;
    color: var(--main-primary-color);
}

.TextFormMobile {
    font-family: 'Collegia';
    font-size: 3vw;
    color: var(--main-primary-color);
}

.MuiSwitch-track {
    background-color: var(--main-primary-color) !important;
}

.MuiTableCell-head {
    color: var(--main-bg-color) !important;
}

/* Table */
.MuiTableCell-root {
    border-bottom: 0px !important;
}

.MuiTableCell-body {
    color: var(--main-bg-color) !important;
}

.MuiTablePagination-toolbar {
    background-color: var(--main-primary-color) !important;
    color: var(--main-bg-color) !important;
}

.MuiSelect-select.MuiSelect-select {
    color: var(--main-bg-color) !important;
}

/* Input user name style */
.MuiInputBase-input {
    color: var(--main-primary-color) !important;
}

.MuiFormLabel-root.Mui-focused {
    color: var(--main-primary-color) !important;
}

.MuiInput-underline:after {
    border-color: var(--main-primary-color) !important;
}