:root {
    --main-bg-color: #FFFFFF;
    --main-primary-color: #0B6623;
}

@font-face {
    font-family: 'Collegia';
    src: local('Collegia'), url(./fonts/COLLEGIA.ttf) format('truetype');
}

* {
    font-family: 'Collegia' !important;
}

body {
    margin: 0%;
}

.MainContainer {
    width: 100%;
    background-color: var(--main-bg-color);
    text-align: center;
}

.Title {
    cursor: pointer;
    font-family: 'Collegia';
    font-size: 3vw;
    color: var(--main-primary-color);
}

.TitleMobile {
    cursor: pointer;
    font-family: 'Collegia';
    font-size: 6vw;
    color: var(--main-primary-color);
}

.TextForm {
    font-family: 'Collegia';
    font-size: 1vw;
    color: var(--main-primary-color);
}

.TextFormMobile {
    font-family: 'Collegia';
    font-size: 3vw;
    color: var(--main-primary-color);
}

.MuiSwitch-track {
    background-color: var(--main-primary-color) !important;
}